{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Editando '{{task.title}}' {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Adicione a sua nova tarefa</h1>
    <form method="POST">
        <!--Sempre usar o ( {%csrf_token%} ) para proteger o site contra ataques alheios-->
        {%csrf_token%}
        {{form|crispy}}
        <br>
        <input type="submit" class = "btn btn-success" value ="Editar tarefa">
        
    </form>

</div>
{% endblock %}

